<div class="container text-center align-content-center w-100 p-0">
  <div class="card w-50 text-center mx-auto">
    <div class="card-header">
      <h4>Edit</h4>
    </div>
    <div class="card-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mx-4 my-3">
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "New password (min. 6 characters)" %>
        </div>

        <div class="mx-4 my-3">
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "Password confirmation" %>
        </div>

        <div class="mx-4 my-3">
          <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password", placeholder: "Current password" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>

  <br/>

  <div class="card">
    <div class="card-header text-center">
      <h4>Delete account</h4>
    </div>
    <div class="card-body">
      <p class="card-text"><%= button_to "Delete", registration_path(resource_name), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-danger" %></p>
    </div>
  </div>

  <br/>

  <%= link_to "Back", :back, class: "btn btn-dark" %>

</div>