<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.event_date %>
  </p>
  <p>
    <strong>Days left:</strong>
    <% now = (event.event_date - Time.now)%>
    <%= (now / (60 * 60 * 24)).floor %>
  </p>
  <p>
    <strong>Hours left:</strong>
    <%=((now % ( 60 *  60 * 24)) / (60 * 60)).floor %>
  </p>
  <p>
    <strong>Minutes left:</strong>
    <%=((now % ( 60 *  60 )) / (60)).floor %>
  </p>
  <p>
    <strong>Seconds left:</strong>
    <%=(now % (60)).floor %>
  </p>
</div>
