<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4 mb-5">
    <strong>
      <%= form.label :name, style: "display: block" %>
    </strong>
      <%= form.text_field :name, required: 'true' %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :event_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>
  <div class="mt-4 mb-5">
    <%= form.datetime_select :event_date, class: "form-control", :start_year => Date.current.year, :default => { :hour => 00, :minute => 00 } %>
  </div>

  <div class="mt-4 mb-5">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
